{% extends "day_02_base.html" %}
{% block title %}User Page{% endblock %}
{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{ msg }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <h1>THIS IS USER PAGE</h1>
    <form action="{{ url_for('user') }}" method="post">
        <p>Email:</p>
        <p><input type="email" name="email" value="{{ email }}" /></p>
        <p><input type="submit" value="Submit" /></p>
    </form>
    <br>
    <a href="{{ url_for('logout') }}">Logout</a>
{% endblock %}
